version: '2'
services:

  gateway:
    build: gateway
    restart: always
    ports:
      - 4000:4000

  config:
    build: config
    restart: always
    ports:
      - 8888:8888

  eureka-service:
    build: eureka-service
    restart: always
    ports:
      - 8761:8761

  auth-service:
    build: auth-service
    restart: always
    ports:
      - 5000:5000

  user-service:
    build: user-service
    restart: always
    ports:
      - 8081:8081

  user-service-mongodb:
    build: user-service-mongodb
    restart: always
    ports:
      - 27017:27017

  register-service:
    build: register-service
    restart: always
    ports:
      - 8082:8082

  hystrix-dashboard:
    build: hystrix-dashboard
    restart: always
    ports:
      - 8010:8010